footer {
    background-image: url('../img/fondo.jpg');
}

footer {
    border-top: 2px solid grey;
}

#cabecera {
    font-size: 60px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

#fondo {
    background-image: url('../img/gatoPortada.jpg');
}

.pagination {
    color: #ffc107!important;
}

.pagination>li>a,
.pagination>li>span {
    color: white!important;
    background-color: #17a2b8!important;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    color: white!important;
    background-color: #17a2b8!important;
}

.page-item.active,
.page-link {
    color: white!important;
    background-color: #17a2b8!important;
}