footer {
    background-image: url('../img/fondo.jpg');
}

footer {
    border-top: 2px solid grey;
}

#cabecera {
    font-size: 60px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

#fondo {
    background-image: url('../img/gatoPortada.jpg');
}